html, body, #outer-container {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #deeeff;
	font-weight: bold;
}

body, .square {
	display: flex;
	justify-content: center;
	align-items: center;
}

#tic-tac-toe-container {
	font-family: 'Montserrat', sans-serif;
	color: #444;
	display: grid;
	grid-template-columns: 50px 100px 100px 100px 50px;
	grid-template-rows: 10px 50px 100px 100px 100px 25px 10px;
	grid-gap: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #DEF;
	box-shadow: inset 2px -3px 15px 3px #777, -2px 2px 15px 1px #777;
	user-select: none;
	text-align: center;
}

#status {
	grid-area: 2 / 2 / 3 / 5;
	color: #444;
	font-size: 32px;
}

.col-1 {
	grid-column-start: 2;
}
.col-2 {
	grid-column-start: 3;
}
.col-3 {
	grid-column-start: 4;
}
.row-1 {
	grid-row-start: 3;
}
.row-2 {
	grid-row-start: 4;
}
.row-3 {
	grid-row-start: 5;
}

#reset-current-game {
	grid-column-start: 2;
	grid-row-start: 6;
}
#restart-all {
	grid-column-start: 3;
	grid-row-start: 6;
}
#misc {
	grid-column-start: 4;
	grid-row-start: 6;
}

button {
	border-radius: 20px;
	box-shadow: inset 1px -3px 5px 0 #789, 0 1px 3px 0 #789;
	cursor: pointer;
	border: none;
	outline: none;
	display: none;
	opacity: 0;
	color: #333;
	font-weight: bold;
}
button:active {
	box-shadow: inset 1px -1px 1px 0 #778899cc, 0 1px 1px 0 #789;
}

#cross-canvas {
	grid-area: 3 / 2 / 6 / 5;
	pointer-events: none;
}

.square {
	transition-duration: 0.2s;
	height: 100px;
	width: 100px;
	font-size: 80px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	cursor: default;
	border: 1px solid #aaa;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	box-shadow: inset -2px 2px 15px 2px #999, 2px -2px 10px 1px #999;
	background-color: #DEF;
	opacity: 0;
}

.pointer {
	cursor: pointer;
}

.select {
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #DEF;
}

#interface-container {
	transition-duration: 1s;
	grid-column-start: 2;
	grid-row-start: 3;
	grid-column-end: 5;
	grid-row-end: 6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.depth {
	background-color: #999;
	color: rgba(0,0,0,0);
	text-shadow: -3px 2.5px 3px #DEF; /* #c2d1e0 */
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

 p, button, h1 {
 	transition-duration: 0.5s;
 }
